<style>

table {
    background-color: rgba(76, 175, 80, 0.6);
    /*rgba(76, 175, 80, 0.6)*/
    border-collapse: separate;
    border-spacing: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
}

td {
    font-family: Courier New, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    padding: 0px 0px 0px 0px;
    spacing: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    vertical-align: bottom;
}

.tooltip {

}

/*cells*/
#spacer{
    text-align: left;
}

#header_cell{
    text-align: left;
}

#values_cells {
    text-align: right;
}

/*text*/
#ticker {
    /*background-color: pink;*/
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

#price {
    /*background-color: grey;*/
    padding-top: 3px;
    padding-bottom: 50px;
    font-size: 30px;
    font-weight: 900;
}

#value {
    font-size: 16px;
    font-weight: 700;
    line-height: 0.9em;
}

#average {
    font-size: 14px;
    /*font-style: italic;*/
    font-weight: 100;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.6);
    line-height: 0.9em;
}
</style>
