<style>

td {
    /*font-family: Andale Mono;*/
    font-family: Lucida Console;
    color: white;
    vertical-align: bottom;
}

#bar {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    vertical-align: bottom;
}


/*cells*/
#header_cell_ticker{
    padding: 0px 0px 0px 0px;
    text-align: right;
    vertical-align: bottom;
}

#header_cell_price{
    padding: 0px 0px 0px 0px;
    text-align: right;
    vertical-align: top;
}

#header_small{
    padding: 1px 0px 5px 0px;
    text-align: right;
    vertical-align: top;
}


#values_cells1 {
    background-color: rgba(55, 55, 55, 0.07);
    /*background-color: rgba(155, 155, 155, 0.8);*/
    padding: 3px 0px 3px 2px; /*Top right Bottom left*/
}

#values_cells2 {
    background-color: rgba(55, 55, 55, 0.12);
    padding: 3px 0px 3px 2px; /*Top right Bottom left*/
}
/*cells*/


/*text*/
#ticker {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgba(60, 60, 60, 0.5);
    padding: 3px 10px 3px 2px;
}

#price {
    text-align: right;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 900;
    padding: 0px 0px 0px 0px;
}

#value {
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    float: right;
    padding: 0px 3px 0px 0px; /*Top right Bottom left*/
}

#average {
    text-align: right;
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding: 0px 6px 0px 0px; /*Top right Bottom left*/
}

#label {
    text-align: left;
    font-size: 9px;
    font-weight: 300;
    color: rgba(30, 30, 30, 0.3);
    padding: 0px 2px 0px 2px; /*Top right Bottom left*/
}

#open {
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 0px 0px 0px;
}

#close {
    text-align: right;
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    padding: 0px 0px 0px 0px;
}
/*text*/

</style>
